body {
  text-align: center;
  background: url(../images/nyc-bg.png);
  background-position: center;
  background-size: cover;
  color: white;
  font-family: helvetica;
}

p {
  font-size: 22px;
}

input {
  /* 
    setting this to 0 gets 
    rid of default styling. 
  */
  border: 0;
  padding: 10px;
  font-size: 18px;
}

input[type="submit"] {
  background: red;
  color: white;
}

.profile {
  border-radius: 50%;
  border: 15px solid #ccc;
}